@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');


.chat-box {
    height: 57vh;
    width: 100%;
}

.chat-content-box {
    height: 90%;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 8px;
}

.enter-message-box {
    width: 100%;
    height: 10%;
    min-height: 30px;

    /* border-top: #1b2a47 solid 8px; */
    /* border-bottom: #1b2a47 solid; */

    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px;
    text-align: left;
    border-radius: 10px;
    border: none;
    outline: none;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 20px;
    color: #6e7685;
    padding-left: 15px;
    display: flex;
}

input {
    color: #6e7685;
}

.enter-message-main {
    display: flex;
    flex-direction: row;
}

.chat-text {
    /* color: rgba(251, 250, 245, 1); */
    color: #A2B4D6;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 20px;
}